---
- name: Ensure UFW is installed
  ansible.builtin.apt:
    name: ufw
    state: present
    update_cache: yes
  
- name: Reset UFW to default state
  community.general.ufw:
    state: reset

- name: Set UFW Policy
  community.general.ufw:
    direction: "{{ item.direction }}"
    policy: "{{ item.policy }}"
  loop:
    - { direction: 'incoming', policy: 'deny' }
    - { direction: 'outgoing', policy: 'allow' }

- name: Allow specified ports through UFW
  community.general.ufw:
    rule: allow
    port: "{{ item }}"
    proto: tcp
  loop: "{{ (ufw_allowed_ports | default([])) | union(ufw_app_ports | default([])) | unique }}"

- name: Ensure UFW service is started and enabled
  ansible.builtin.service:
    name: ufw
    state: started
    enabled: yes

- name: Enable UFW
  community.general.ufw:
    state: enabled
    logging: 'on'