---
- name: Create shared Docker Network
  community.docker.docker_network:
    name: "{{ docker_network }}"
    driver: bridge
    state: present

- name: Start Redis Container
  community.docker.docker_container:
    name: redis
    image: "redis:8-alpine"
    state: started
    restart_policy: always
    ports:
      - "{{ redis_port }}:6379"
    env:
      REDIS_PASSWORD: "{{ redis_password }}"
    volumes:
      - "{{ data_root }}/redis/data:/data"
    command: ["redis-server", "--requirepass", "{{ redis_password }}", "--appendonly", "yes"]
    networks:
      - name: "{{ docker_network }}"

- name: Start PostgreSQL Container
  community.docker.docker_container:
    name: postgres
    image: "postgres:18-alpine"
    state: started
    restart_policy: always
    ports:
      - "{{ postgres_port }}:5432"
    env:
      POSTGRES_USER: "{{ postgres_root_user }}"
      POSTGRES_PASSWORD: "{{ postgres_root_password }}"
      PGDATA: /var/lib/postgresql/18/docker
    volumes:
      - "{{ data_root }}/postgres/data:/var/lib/postgresql/18/docker"
    networks:
      - name: "{{ docker_network }}"

- name: Wait for PostgreSQL to be ready
  wait_for:
    host: 127.0.0.1
    port: "{{ postgres_port }}"
    delay: 3
    timeout: 60

- name: Create PostgreSQL Databases
  community.postgresql.postgresql_db:
    name: "{{ item.name }}"
    owner: "{{ item.user }}"
    login_host: "127.0.0.1"
    login_user: "{{ postgres_root_user }}"
    login_password: "{{ postgres_root_password }}"
    state: present
  loop: "{{ postgres_databases }}"
  tags: database

- name: Create Application Users for PostgreSQL Databases
  community.postgresql.postgresql_user:
    name: "{{ item.user }}"
    password: "{{ item.password }}"
    db: "{{ item.name }}"
    # priv: "ALL"
    login_host: "127.0.0.1"
    login_user: "{{ postgres_root_user }}"
    login_password: "{{ postgres_root_password }}"
    state: present
  loop: "{{ postgres_databases }}"
  tags: database